<link href="css/shop-homepage.css" rel="stylesheet">

<script src="components/store/jq.js"></script>

<!-- Page Content -->

<div id="store" class="store container" ng-controller="storeCtrl" >

	<div class="row">
		<div class="col-md-12 animated fadeInDown">
			<div class="row">
				<div class="col-md-9">

					<div class="paper ibox cart-item">

						<div class="ibox-content p-md">
							<h1><span class="text-navy">Congratulations!</span></h1>

							<p>
								Your payment is successful!
							</p>
							<hr>
							<a class="btn btn-primary" href="#/store">Back to Store</a>
						</div>


					</div>
				</div>
				<div class="col-md-3">

					<div class="paper ibox">
						<div class="ibox-title paper">
							Support
						</div>
						<div class="ibox-content text-center">

							<h3><i class="icon-phone"></i> +852 8888 6666</h3>
							<span class="small">
								Please contact with us if you have any questions. We are avalible 24h.
							</span>


						</div>
					</div>



				</div>
			</div>


		</div>

	</div>

</div>

<!-- /.container -->

