@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css); /* font-family: 'cwTeXYen', sans-serif;*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexming.css); /* font-family: 'cwTeXMing', serif;*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css); /* font-family: 'cwTeXFangSong', serif;*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css); /*font-family: 'cwTeXHei', sans-serif;*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexkai.css); /*font-family: 'cwTeXKai', serif;*/



h1, h2, h3, h4, h5, h6 {
   font-weight: 400;
   text-transform: none;
}


body{
   background: #F0F2F4;
}

/* button */
.btn{
   border-radius: 2px;
}

/* iBOX */
.ibox {
   clear: both;
   margin-bottom: 25px;
   margin-top: 0;
   padding: 0; 
   font-size: 14px;
}

.ibox:after, .ibox:before {
   display: table; 
}
.ibox-content .table{
   border-color: #FFF !important;
}
.ibox-title {
   background-color: white;
   color: inherit;
   margin-bottom: 0;
   height: 48px; 
   font-family: 'Montserrat', Arial, sans-serif;
   font-size: 16px;
   padding: 16px 20px;
   z-index: 10;
   position: relative;
}

.ibox-content {
   background-color: white;
   color: inherit;
   padding: 15px 20px 20px 20px;
}
.table-responsive table{
   width: 100%;
}

.cart-item .ibox-content{
   border-bottom: 1px solid #EEE;
}
.cart-item .ibox-content h3 a{
   padding: 5px 0 0 0;
   font-size: 20px;
   font-weight: 400;
}
.cart-item .ibox-content h4{
   font-weight: 400;
   padding-left: 20px;
}

.bg-light-gray{
   background: #F0F2F4 !important;
}
.cart-num{
   background: #ff1a00;
   padding: 2px 9px 2px 8px;
   border-radius: 100px;
   text-align: center;
   margin-left: 5px;
}
.dropdown-menu {

   min-width: 50px;
   background-color: #616A7F;
   border-radius: 5px;
}

.dropdown-menu a{
   color: #c2caca !important;
   padding: 10px 15px !important;
}

.dropdown-menu a:hover{
   color: #FF1A00 !important;
   background: transparent !important;
}


.text-large{
   font-family: 'Montserrat', Arial, sans-serif;
   font-size: 2.4em;
   letter-spacing: 0;
}
body {
   padding-top: 0px !important;
}

section{
   padding: 80px 0;
}
section h2.section-heading{
   font-size: 13px;
   letter-spacing: 4px;
   color: #AAA;
   text-transform: uppercase;
   font-family: 'Montserrat', Arial, sans-serif;
   margin-bottom: 40px;
}

section h2.section-heading:before{
   content:"";
   position: absolute;
   top: 24px;
   left: 50%;
   margin-left: -12px;
   display: block;
   width: 24px;
   height: 2px;
   background: #CCC;
}

.section-heading{
   font-size: 13px;
   color: #AAA;
   text-transform: uppercase;
   font-family: 'Montserrat', Arial, sans-serif;
   margin-bottom: 20px;
}

.home-float-paper{
   background: #F0F2F4;
} 

.home-float-paper > .container > .row{
   margin-top: -180px;
   padding-top: 60px;
} 

.home-float-paper .paper{
   background: #FFF;
   position: relative;
   z-index: 10;
   background: white;
   padding: 50px 30px;
   margin-bottom: -60px;
}

.paper{
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);	
   background: white;
}

.ibox{

}

/* app css stylesheet */
header .intro-heading{
   //font-family: 'Lato','Noto Sans TC','Noto Sans SC' sans-serif !important;
   color: #FFFFFF;
   font-weight: 300 !important;

   //text-shadow: -2px 0 #E0E9E9, 0 2px #E0E9E9, 2px 0 #E0E9E9, 0 -2px #E0E9E9;
   // -webkit-text-stroke-width: 3px;
   //-webkit-text-stroke-color: #616A7F;
}

header .intro-text {
   color: #E0E9E9;
}


.btn-xl {
   color: #E0E9E9;
   background-color: #FF1A00;
   border-color: #FF1A00;
   opacity: 0.7;
   border-radius: 33px;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
   color: #fff;
   background-color: #FF1A00;
   border-color: #FF1A00;
   opacity: 1;
}


.text-primary {
   color: #FF1A00;
}


.navbar-default .nav li a {
   text-transform: capitalize;
   color: #FFF;
   padding: 20px 15px;
   font-size: 14px;
   letter-spacing: 0px;
   font-family: 'Montserrat', Arial, sans-serif !important;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
   color: #FF1A00;
   outline: 0;
   padding: 20px 15px;
}
.navbar-default .nav li a:hover .cart-num,
.navbar-default .nav li a:focus .cart-num{
   color: white;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
   color: #FFF;
   background-color: rgba(252,255,255,0.1);
   border-radius: 0;
   margin-top: 0;
   margin-bottom: 0;
   padding: 20px 15px;
}


.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
   color: #FF1A00 !important;
   background-color: transparent !important;
}


.navbar-default .navbar-toggle {
   background-color: #616A7F;
   border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
   background-color: #FF1A00;
}


@media (max-width: 767px) {
   .navbar-default {
	  background-color: rgba(0, 0, 0, 0.6);
	  border-color: transparent;
   }
}


.navbar-default.navbar-shrink {
   background-color: #1f518c; //#2D3956
   border-color: transparent;
   padding-top: 0;
   padding-bottom: 0;
   box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

#portfolio .portfolio-item .portfolio-link{
   max-width: none;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {

   background: rgba(4,111,187, 0.6);
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0;
   transition: all ease 0.5s;
   -webkit-transition: all ease 0.5s;
   -moz-transition: all ease 0.5s;
}


#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
   // color: #FF1A00;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i{
   font-size: 18px;
   margin-top: 10px;
}


.use-cases-block {
   height:100%;
   color: white;
   position:absolute;
   top:0;
   left:0;
   background: rgba(4,111,187, 0.9);
   padding: 30px 20px;
   margin:0px 15px;
   font-size: 14px;

}
.use-cases-block .title{
   font-size: 1.6em;
   font-family: 'Montserrat', Arial, sans-serif;
   font-weight: 400;
   color: white;
}

.use-cases-block .subtitle{
   text-transform: uppercase;
   font-size: 0.8em;
   opacity: 0.5;
   color: white;
}
.use-cases-block .desc{
   font-size: 1em;
   color: white;
}
.menu {
   list-style: none;
   border-bottom: 0.1em solid black;
   margin-bottom: 2em;
   padding: 0 0 0.5em;
}

.menu:before {
   content: "[";
}

.menu:after {
   content: "]";
}

.menu > li {
   display: inline;
}

.menu > li:before {
   content: "|";
   padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
   content: "";
   padding: 0;
}

#video-background {
   /*  making the video fullscreen  */
   position: absolute;
   right: 0;
   top: 0;
   min-width: 100%;
   width: auto;
   //height: auto;
   z-index: -100;
}
header {
   position: relative;
   // background-image: none;
}

header .intro-text .intro-heading,
header .intro-text .intro-heading translate{
   font-family: 'Montserrat', Arial, sans-serif;
   text-transform: none;
   font-size: 70px;
}

a.navbar-brand {
   text-transform: uppercase;
   margin: 5px;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url('img/citic_logo.png');
   text-indent: 45px;
   letter-spacing: 0px;
   color: #ffffff !important;
   font-family: 'Montserrat', Arial, sans-serif !important;
}

.navbar-default.navbar-shrink a.navbar-brand{
   background-size: 40px 40px;
   background-position: 0 5px;
   text-indent: 35px;
}

@media (min-width: 768px){
   .navbar-default .navbar-brand{
	  font-size: 1.6em;
   }
   .navbar-default.navbar-shrink .navbar-brand {
	  font-size: 1.3em;
   }
}

header {
   background: -moz-linear-gradient(top, rgba(4,91,163,1) 0%, rgba(4,91,163,0.9) 16%, rgba(4,91,163,0.8) 100%);
   background: -webkit-linear-gradient(top, rgba(4,91,163,1) 0%,rgba(4,91,163,0.9) 16%,rgba(4,91,163,0.8) 100%);
   background: linear-gradient(to bottom, rgba(4,91,163,1) 0%,rgba(4,91,163,0.9) 16%,rgba(4,91,163,0.8) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#045ba3', endColorstr='#cc045ba3',GradientType=0 );
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;

}
/* url(../app/img/header-bg.jpg) */


@keyframes rotateFall {
   0%      { transform: rotateZ(0deg); }
   20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
   40%     { transform: rotateZ(17deg); }
   60%     { transform: rotateZ(16deg); }
   100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
   to      { transform: translateX(-100%); }
}

@keyframes slideOutUp {
   to      { transform: translateY(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
   to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
   from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
   from    { transform:translateX(100%); }
   to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
   from    { transform:translateY(100%); }
   to      { transform: translateY(0); }
}

.ng-leaveXXX          
{ animation: slideOutUp 0.4s both ease-in; z-index: 9999; }



::selection {
   background: #E7E7E7;
}

.timeline > li{
   margin-bottom: 50px !important;
}

.timeline>li .timeline-image {
   background-color: #FFFFFF;
   border: 0;

}

.timeline>li .timeline-image img {
   min-width:100% !important;
}

.timeline > li .timeline-panel{
   text-align: left;
}

.timeline .timeline-heading{
   font-size: 14px;
   font-weight: 400;
}
.timeline .timeline-heading h4{
   font-size: 1.6em;
   letter-spacing: 0px;
   color: #00BEF1;

}
.timeline .timeline-heading h4.subheading{
   font-size: 0.8em;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 600;
   color: #AAA;
   text-transform: uppercase;
}




ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
   background-color: #FF1A00;
}

a {
   color: #00BEF1;
}

a:hover, a:focus, a:active, a.active {
   color: #FF1A00;
}

section#contact .section-heading {
   color: #555555;
}

section#contact{
   background-image: url(img/us-bg.jpg);
   background-repeat:no-repeat;
   background-size:cover;
   background-position:center;
   color: white;
}

section#contact h2.section-heading{
   color: white;
   opacity: 0.5;
}

section#about {
   background-color: #FFF ;
}

.contact-block{
   padding: 20px;
   margin-top: 10px;
   color: white;
   cursor: pointer;
}
.contact-block a{
   color: white;
   font-family: 'Montserrat', Arial, sans-serif;
}
.contact-block p{
   color: white;
   margin-top: 10px;
   display: block;
   font-family: 'Montserrat', Arial, sans-serif;
}
.contact-block:hover{
   background: rgba(255,255,255,0.1);
   transition: all ease 0.5s;
   -webkit-transition: all ease 0.5s;
   -moz-transition: all ease 0.5s;
}

#contact{
   padding-bottom: 40px;
}
hr {
   margin-top: 20px;
   margin-bottom: 20px;
   border: 0;
   border-top: 1px solid #EEEEEE;
}

footer {
   z-index: 2;
   color:#FFF ;
   background-color: #1f518c;
   padding: 0;
}

footer .footer-nav{
   //background: #1a4b84;
}
footer .footer-nav > .container{
   padding: 10px 0;
   border-top: 1px solid rgba(255,255,255,0.05);
}
footer hr{
   border-color: rgba(255,255,255,0.1);
}

footer .footer-copy{
   padding: 20px;
   font-size: 14px;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 400;
}

footer ul.quicklinks{
   margin-top: 10px;
}

footer ul.quicklinks li a{
   opacity: 0.5;
   color: white;
   text-decoration: none;
   font-size: 14px;
   font-weight: 400;
}

footer ul.quicklinks li a:hover{
   opacity: 1;
}

footer span.copyright{
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 400;
   font-size: 12px;
   color: white;
   opacity: 0.4;

}

footer a.navbar-brand{
   background-size: 30px 30px;
   margin: 20px 0 0 0;
   display: block;
   line-height: 30px;
   padding: 0px;
   float: none;
   font-size: 1.1em;
   color: rgba(255,255,255,0.5) !important;
   height: 30px;
}

footer ul.social-buttons li a{
   background-color: rgba(0,0,0,0.1);
   color: white;
}

.navbar-default-admin {

}

.timeline>li .timeline-body{
   //text-align: justify;
}




.nav>li>a {
   display: inline-block;
}

.nav>li.langBtns>a {
   padding-right: 0px;
}

h4.service-heading{
   font-weight: 400;
   margin: 30px 0 24px 0;
}


html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-size: 16px !important;
}
#wrapper {
   min-height:100%;
   position:relative;
}
#content {
   padding-bottom:90px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:90px;   /* Height of the footer */
}


.well2 > img {

   width:100%;
   min-height: 20px;
   padding: 19px;
   margin-bottom: 20px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);


}

.p-img {
   text-align: center;
   background: white;	
   height:auto;
   background-color: #FFF;
   padding: 15% 0;
}
.p-img>img{
   width:60%;
   margin: 0 auto;
}


html.sc *{

   font-family:  FontAwesome, Helvetica,  Microsoft Yahei, sans-serif, 'Glyphicons Halflings';
}

html.tc *{
   font-family:  FontAwesome,  Helvetica, Microsoft Yahei, sans-serif, 'Glyphicons Halflings';
}

html{
   font-family: 'Open Sans', 'Glyphicons Halflings', FontAwesome,Arial,sans-serif;

}


