<footer>
	<div class="footer-copy">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-left">
						<a class="navbar-brand ng-isolate-scope" id="citic_logo" href="#page-top" scroll-to="page-top">
							CITIC Telecom
						</a>
					<div>
						<span class="copyright">Copyright &copy; CITIC Telecom 2016</span>
						<span class="copyright"> ver: <span app-version> </span> </span>
					</div>
				</div>

				<div class="col-md-6 text-right">

					<ul class="list-inline quicklinks text-right">
						<li><a href="#">Privacy Policy</a>
						</li>
						<li><a href="#">Terms of Use</a>
						</li>

						<li  ng-repeat="nav in navs" class="" >
							<a ng-click="hideMenu()"
							   href="{{nav.a}}" scroll-to="{{nav.scroll}}" >
								<translate>{{nav.text}}</translate>

							</a>
						</li>
					</ul>
					<!-- angularJS socialListCtrl-->
					<ul class="list-inline text-center social-buttons pull-right" ng-controller="socialListCtrl">
						<li ng-repeat="social in socials">
							<a href="{{social.link}}"><i class="icon-{{social.name}}"></i></a>
						</li>
					</ul>

				</div>

			</div>
		</div>
	</div>

</footer>